  html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    font-size: 16px;
}

.flex-center {
    align-items: center;
    justify-content: center;
    min-height: 700px;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

#header-container {
    background: #66947b;
    color: white;
    height:120px;
}

div#header-container div#header {
	text-align: center;
	font-size: 3em;
	color:white;
}

div#footer {
    background: #ccc;
    color: black;
    text-align: center;
    height: 40px;
}

.movie-container div.movie {
    background: #eee;
    min-height: 400px;
    border: 1px solid #66947b;
    margin: 1em 4em;
    background-size: cover !important;
}

.movie-container div.movie .overlay {
    background: #ccc;
    height: 100%;
    opacity: .8;
    color: black;
}

.movie-container div.movie .overlay:hover {
	opacity:.95;
	cursor:pointer;
}

#header-container .pure-menu-link, #header-container .pure-menu-item a {
	color:white;
	font-size:1.5em;
	font-weight: bold;
}

#header-container .pure-menu-children a.pure-menu-link, #header-container .pure-menu-children .pure-menu-item a {
    z-index: 10;
    background: #eee;
    color:#66947b;
}

#header-container .pure-menu-link:hover {
	background:none;
	border: 1px solid #eee;
}

#header-container .pure-menu-horizontal .pure-menu-children {
	width:100%;
	top:45px;
	border-left: 1px solid #66947b;
	border-right: 1px solid #66947b;
	border-bottom: 1px solid #66947b;
}

form.pure-form {
    margin: 5% 15%;
    border: 1px solid #ccc;
    padding: 10px;
}

div#error-wrap {
	display: none;
}

.border-radius-std {
	border-radius:5px;
}

.pure-g {
    padding: 10px;
    word-break: break-word;
}
.border-std {
	border: 1px solid black;
}

.border-bottom-std {
	border-bottom: 1px solid black;
}

.border-top-std {
	border-top: 1px solid black;
}

.border-left-std {
	border-left: 1px solid black;
}

.border-right-std {
	border-right: 1px solid black;
}